<html>
    <head>
        <style>
            h1 {text-align: center;}
            form {text-align: center;}
        </style>
    </head>
    <body style="background-color:#2fd7b4;">
        <h1><span style="font-family:Georgia,serif"><strong>RECIPE, SET, GO!</strong></span></h1>

        <h1><span style="font-size:9px"><em>DON&#39;T WASTE FOOD MY DUDE</em></span></h1>
            <form method="post" action="/">
                <p>Enter some ingredients and hit enter <input type = "text" name = "INPUT" /></p>
            </form> 

            <form class="cuisine" method="POST" action="/">
                <select class="browser-default custom-select" name="cuisine" id="cuisine" method="POST" action="/">
                    <option disabled selected> Choose a cuisine </option>
                    {% for cuisine in cuisines %}
                    <option value={{cuisine}}>{{cuisine}}</option>
                    {% endfor %}
                </select>
                <input class="btn" type="submit" value="submit">
            </form>
    </body>
</html>
